<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSzSUPhSpnHL9ojZQANNytuY0pFrzdiOg</string>
	<key>GCM_SENDER_ID</key>
	<string>661641114119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neuralcompute.classconnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>class-connect-bfa3a</string>
	<key>STORAGE_BUCKET</key>
	<string>class-connect-bfa3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661641114119:ios:c9d4e962343e39122530a2</string>
</dict>
</plist>